<footer class="card bg-warning" style=" 
width: 100%;
color: #333; 
padding: 10px;
text-align: center;
">
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-center">&copy; Blogify2024.All rights reserved.</h5>
    </div>
  </footer>
  